# TFM - CREATING MARGINAL PRICE DATASET FROM OMIE RAW DATA

The purpose of this Notebook is to create a marginal price dataset from OMIE webpage and store it locally as .csv file, in order to be used in other Notebooks, where this information is used to create models, plots, filtering, etc.

First of all, data from OMIE web page are locally downloaded from this link: https://www.omie.es/en/file-access-list?parents%5B0%5D=/&parents%5B1%5D=Day-ahead%20Market&parents%5B2%5D=1.%20Prices&dir=%20Day-ahead%20market%20hourly%20prices%20in%20Spain&realdir=marginalpdbc

Two zip files for 2019 and 2020 are downloaded.

In [5]:
import pandas as pd
import numpy as np

In [6]:
#Exploring a directory downloaded from OMIE web page, after unzipping it.

price_2019_path = './Raw_Data/OMIE/MargPrice/marginalpdbc_2019/'

price_2019_list = !ls -1 $price_2019_path

In [7]:
len(price_2019_list)

365

In [8]:
price_2020_path = './Raw_Data/OMIE/MargPrice/marginalpdbc_2020/'

price_2020_list = !ls -1 $price_2020_path

In [9]:
len(price_2020_list)

366

## READING INFO FROM 2019 FOLDER

In [10]:
#Reading all lines from each of the daily files in the directory .

price_19 = []

for archive in price_2019_list:
    #errors='replace' must be added because there are special characters inside the description 
    #(mostly Ã±, and spanish accents)
    with open(price_2019_path + archive, errors='replace') as f: 
        lines = f.readlines()
        price_19.append(lines)
        print(len(lines))

26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
25
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
27
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26

In [11]:
len(price_19)

365

In [12]:
type(price_19)

list

In [13]:
#The first row is not relevant iformation
price_19[0][0]

'MARGINALPDBC;\n'

In [14]:
#The information is divided by ";"
price_19[0][1]

'2019;01;01;1;66.88;66.88;\n'

In [15]:
#The last row is not relevant iformation
price_19[0][-1]

'*\n'

In [16]:
type(price_19[0]) , len(price_19[0])

(list, 26)

In [17]:
type(price_19[0][0]) , len(price_19[0][0])

(str, 14)

In [18]:
len(price_19)

365

In [19]:
len(price_19[0])

26

In [20]:
#Useful information: one marginal price per hour
len(price_19[0][1:-1])

24

In [21]:
#Reteiving the information for all days in 2019
for day in range(len(price_19)):
    price_19[day] = price_19[day][1:-1]

In [22]:
len(price_19[0])

24

In [23]:
#Splitting the information by ";"

price_total_19 = []

for day in range(len(price_19)):
    for count in range(len(price_19[day])):
        price_total_19.append(price_19[day][count].split(';'))

In [24]:
price_total_19[-1][:-1]

['2019', '12', '31', '24', '37.37', '37.37']

In [25]:
len(price_total_19)

8760

In [26]:
#Last two items are not relevant, so they can be removed

for count in range(len(price_total_19)):
    price_total_19[count] = price_total_19[count][:5]

In [27]:
price_total_19[-1]

['2019', '12', '31', '24', '37.37']

In [28]:
len(price_total_19)

8760

In [29]:
len(price_total_19[0])

5

In [30]:
#Creating a dataframe for 2019
df_price_19 = pd.DataFrame(price_total_19,
                        columns=['Year',
                                 'Month',
                                 'Day', 
                                 'Period', 
                                 'Marg_Price'])

In [31]:
df_price_19.dtypes

Year          object
Month         object
Day           object
Period        object
Marg_Price    object
dtype: object

In [32]:
#Casting the correct type

df_price_19 = pd.concat([df_price_19[['Year', 'Month', 'Day', 'Period']].astype('int'), 
                         df_price_19[['Marg_Price']].astype('float')],
                         axis=1)

In [33]:
df_price_19

      Year  Month  Day  Period  Marg_Price
0     2019      1    1       1       66.88
1     2019      1    1       2       66.88
2     2019      1    1       3       66.00
3     2019      1    1       4       63.64
4     2019      1    1       5       58.85
...    ...    ...  ...     ...         ...
8755  2019     12   31      20       46.00
8756  2019     12   31      21       42.58
8757  2019     12   31      22       39.74
8758  2019     12   31      23       38.88
8759  2019     12   31      24       37.37

[8760 rows x 5 columns]

## READING INFO FROM 2020 FOLDER

In [34]:
#Reading all lines from each of the daily files in the directory .

price_20 = []

for archive in price_2020_list:
    #errors='replace' must be added because there are special characters inside the description 
    #(mostly Ã±, and spanish accents)
    with open(price_2020_path + archive, errors='replace') as f: 
        lines = f.readlines()
        price_20.append(lines)
        print(len(lines))

26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
25
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
27
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26

In [35]:
for day in range(len(price_20)):
    price_20[day] = price_20[day][1:-1]

In [36]:
price_total_20 = []

for day in range(len(price_20)):
    for count in range(len(price_20[day])):
        price_total_20.append(price_20[day][count].split(';'))

In [37]:
#Last two items are not relevant, so they can be removed

for count in range(len(price_total_20)):
    price_total_20[count] = price_total_20[count][:5]

In [38]:
df_price_20 = pd.DataFrame(price_total_20,
                        columns=['Year',
                                 'Month',
                                 'Day', 
                                 'Period', 
                                 'Marg_Price'])

In [39]:
df_price_20 = pd.concat([df_price_20[['Year', 'Month', 'Day', 'Period']].astype('int'), 
                         df_price_20[['Marg_Price']].astype('float')],
                         axis=1)

In [40]:
df_price_20

      Year  Month  Day  Period  Marg_Price
0     2020      1    1       1       41.88
1     2020      1    1       2       38.60
2     2020      1    1       3       36.55
3     2020      1    1       4       32.32
4     2020      1    1       5       30.85
...    ...    ...  ...     ...         ...
8779  2020     12   31      20       60.54
8780  2020     12   31      21       56.75
8781  2020     12   31      22       52.44
8782  2020     12   31      23       51.86
8783  2020     12   31      24       52.26

[8784 rows x 5 columns]

## CRETING .csv FILE TO STORE CONCATENATED DATAFRAMES

Now both dataframes are concatenated and stored locally.

In [41]:
df_marg_price = pd.concat([df_price_19, df_price_20])

In [42]:
df_marg_price.reset_index(drop=True, inplace=True)

df_marg_price.sort_values(by=['Year', 'Month', 'Day', 'Period'], inplace=True)

In [43]:
df_marg_price

       Year  Month  Day  Period  Marg_Price
0      2019      1    1       1       66.88
1      2019      1    1       2       66.88
2      2019      1    1       3       66.00
3      2019      1    1       4       63.64
4      2019      1    1       5       58.85
...     ...    ...  ...     ...         ...
17539  2020     12   31      20       60.54
17540  2020     12   31      21       56.75
17541  2020     12   31      22       52.44
17542  2020     12   31      23       51.86
17543  2020     12   31      24       52.26

[17544 rows x 5 columns]

In [44]:
#Searching for NaN

if df_marg_price.shape[0] == df_marg_price.dropna().shape[0]:
    print('No NaN in df')

No NaN in df

In [45]:
#Casting to datetime
df_marg_price['Date']= pd.to_datetime(df_marg_price[['Year', 'Month', 'Day']])

In [46]:
df_marg_price.dtypes

Year                   int64
Month                  int64
Day                    int64
Period                 int64
Marg_Price           float64
Date          datetime64[ns]
dtype: object

In [47]:
df_marg_price

       Year  Month  Day  Period  Marg_Price       Date
0      2019      1    1       1       66.88 2019-01-01
1      2019      1    1       2       66.88 2019-01-01
2      2019      1    1       3       66.00 2019-01-01
3      2019      1    1       4       63.64 2019-01-01
4      2019      1    1       5       58.85 2019-01-01
...     ...    ...  ...     ...         ...        ...
17539  2020     12   31      20       60.54 2020-12-31
17540  2020     12   31      21       56.75 2020-12-31
17541  2020     12   31      22       52.44 2020-12-31
17542  2020     12   31      23       51.86 2020-12-31
17543  2020     12   31      24       52.26 2020-12-31

[17544 rows x 6 columns]

In [48]:
#Storing locallyt the dataframe

### '/home/dsc/Documents/TFM/Data/OMIE/'
output_path = './Data_Input/'

df_marg_price.to_csv(output_path + 'MARGINAL_PRICES_SPAIN.csv')