# TFM - CREATING NATURAL GAS PRICE DATASET

The purpose of this Notebook is to create a natural gas price dataset from www.macrotrends.net/ and store it locally as .csv file, in order to be used in other Notebooks, where this information is used to create models, plots, filtering, etc.

First of all, data are locally downloaded from this link: https://www.macrotrends.net/2478/natural-gas-prices-historical-chart

In [3]:
import pandas as pd
import numpy as np

In [4]:
### CHANGE PATH TO './RawData/NatGasPrice/' ###

NGprice_path = '/home/dsc/Documents/TFM/Data/NatGas_Price/'

df_NG_price = pd.read_csv(NGprice_path + 'NaturalGas_Price_v2.csv')

In [5]:
df_NG_price.head()

         date   value
0  2008-04-14   10.03
1  2008-04-15   10.16
2  2008-04-16   10.11
3  2008-04-17   10.27
4  2008-04-18   10.08

In [6]:
type(df_NG_price)

pandas.core.frame.DataFrame

In [7]:
df_NG_price.dtypes

date       object
 value    float64
dtype: object

In [8]:
#Casting 'date' type
df_NG_price['date'] = pd.to_datetime(df_NG_price['date'])

In [9]:
df_NG_price.head()

        date   value
0 2008-04-14   10.03
1 2008-04-15   10.16
2 2008-04-16   10.11
3 2008-04-17   10.27
4 2008-04-18   10.08

In [10]:
df_NG_price.dtypes

date      datetime64[ns]
 value           float64
dtype: object

In [11]:
#Creating Year, Month and Day columns

df_NG_price['Year']= df_NG_price['date'].apply(lambda x: x.year)
df_NG_price['Month']= df_NG_price['date'].apply(lambda x: x.month)
df_NG_price['Day']= df_NG_price['date'].apply(lambda x: x.day)

In [12]:
df_NG_price.head()

        date   value  Year  Month  Day
0 2008-04-14   10.03  2008      4   14
1 2008-04-15   10.16  2008      4   15
2 2008-04-16   10.11  2008      4   16
3 2008-04-17   10.27  2008      4   17
4 2008-04-18   10.08  2008      4   18

In [13]:
df_NG_price.columns

Index(['date', ' value', 'Year', 'Month', 'Day'], dtype='object')

In [14]:
columns = ['Date', 'NG_Price', 'Year', 'Month', 'Day']

In [15]:
df_NG_price.columns = columns

In [16]:
df_NG_price = df_NG_price[['Date', 'Year', 'Month', 'Day', 'NG_Price']]

In [51]:
df_NG_price.head()

        Date  Year  Month  Day  NG_Price
0 2008-04-14  2008      4   14     10.03
1 2008-04-15  2008      4   15     10.16
2 2008-04-16  2008      4   16     10.11
3 2008-04-17  2008      4   17     10.27
4 2008-04-18  2008      4   18     10.08

In [54]:
#Storing dataframe locally

### CHANGE PATH TO './ProcessedData/UNITS_BIDS_Ext/' ###
output_path = '/home/dsc/Documents/TFM/Data/NatGas_Price/'

df_NG_price.to_csv(output_path + 'df_NaturalGas_Price.csv')