In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Exploring a directory downloaded from OMIE web page, after unzipping it.

price_2019_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/DAY_MARKET_PRICE/marginalpdbc_2019/

In [3]:
len(price_2019_list)

365

In [4]:
price_2020_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/DAY_MARKET_PRICE/marginalpdbc_2020/

In [5]:
len(price_2020_list)

366

In [6]:
price_2019_path = '/home/dsc/Documents/TFM/Data/OMIE/DAY_MARKET_PRICE/marginalpdbc_2019/'

In [7]:
#Reading all lines from each of the daily files in the directory .

price_19 = []

for archive in price_2019_list:
    #errors='replace' must be added because there are special characters inside the description 
    #(mostly Ã±, and spanish accents)
    with open(price_2019_path + archive, errors='replace') as f: 
        lines = f.readlines()
        price_19.append(lines)
        print(len(lines))

26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
25
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
27
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26

In [8]:
len(price_19)

365

In [9]:
type(price_19)

list

In [10]:
price_19[0][0]

'MARGINALPDBC;\n'

In [11]:
price_19[0][1]

'2019;01;01;1;66.88;66.88;\n'

In [12]:
price_19[0][-1]

'*\n'

In [13]:
#The information is retreived in strings of 26 length.
type(price_19[0]) , len(price_19[0])

(list, 26)

In [14]:
#The information is retreived in strings of 26 length.
type(price_19[0][0]) , len(price_19[0][0])

(str, 14)

In [15]:
len(price_19)

365

In [16]:
len(price_19[0])

26

In [17]:
len(price_19[0][1:-1])

24

In [18]:
for day in range(len(price_19)):
    price_19[day] = price_19[day][1:-1]

In [19]:
len(price_19[0])

24

In [20]:
price_total_19 = []

for day in range(len(price_19)):
    for count in range(len(price_19[day])):
        price_total_19.append(price_19[day][count].split(';'))

In [21]:
price_total_19[-1][:-1]

['2019', '12', '31', '24', '37.37', '37.37']

In [22]:
len(price_total_19)

8760

In [23]:
#Last two items are not relevant, so they can be removed

for count in range(len(price_total_19)):
    price_total_19[count] = price_total_19[count][:5]

In [24]:
price_total_19[-1]

['2019', '12', '31', '24', '37.37']

In [25]:
len(price_total_19)

8760

In [26]:
len(price_total_19[0])

5

In [27]:
df_price_19 = pd.DataFrame(price_total_19,
                        columns=['Year',
                                 'Month',
                                 'Day', 
                                 'Period', 
                                 'Marg_Price'])

In [28]:
df_price_19.dtypes

Year          object
Month         object
Day           object
Period        object
Marg_Price    object
dtype: object

In [29]:
df_price_19 = pd.concat([df_price_19[['Year', 'Month', 'Day', 'Period']].astype('int'), 
                         df_price_19[['Marg_Price']].astype('float')],
                         axis=1)

In [30]:
df_price_19

      Year  Month  Day  Period  Marg_Price
0     2019      1    1       1       66.88
1     2019      1    1       2       66.88
2     2019      1    1       3       66.00
3     2019      1    1       4       63.64
4     2019      1    1       5       58.85
...    ...    ...  ...     ...         ...
8755  2019     12   31      20       46.00
8756  2019     12   31      21       42.58
8757  2019     12   31      22       39.74
8758  2019     12   31      23       38.88
8759  2019     12   31      24       37.37

[8760 rows x 5 columns]

### SAME FOR 2020

In [31]:
price_2020_path = '/home/dsc/Documents/TFM/Data/OMIE/DAY_MARKET_PRICE/marginalpdbc_2020/'

In [32]:
#Reading all lines from each of the daily files in the directory .

price_20 = []

for archive in price_2020_list:
    #errors='replace' must be added because there are special characters inside the description 
    #(mostly Ã±, and spanish accents)
    with open(price_2020_path + archive, errors='replace') as f: 
        lines = f.readlines()
        price_20.append(lines)
        print(len(lines))

26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
25
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
27
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26

In [33]:
for day in range(len(price_20)):
    price_20[day] = price_20[day][1:-1]

In [34]:
price_total_20 = []

for day in range(len(price_20)):
    for count in range(len(price_20[day])):
        price_total_20.append(price_20[day][count].split(';'))

In [35]:
#Last two items are not relevant, so they can be removed

for count in range(len(price_total_20)):
    price_total_20[count] = price_total_20[count][:5]

In [36]:
df_price_20 = pd.DataFrame(price_total_20,
                        columns=['Year',
                                 'Month',
                                 'Day', 
                                 'Period', 
                                 'Marg_Price'])

In [37]:
df_price_20 = pd.concat([df_price_20[['Year', 'Month', 'Day', 'Period']].astype('int'), 
                         df_price_20[['Marg_Price']].astype('float')],
                         axis=1)

In [38]:
df_price_20

      Year  Month  Day  Period  Marg_Price
0     2020      1    1       1       41.88
1     2020      1    1       2       38.60
2     2020      1    1       3       36.55
3     2020      1    1       4       32.32
4     2020      1    1       5       30.85
...    ...    ...  ...     ...         ...
8779  2020     12   31      20       60.54
8780  2020     12   31      21       56.75
8781  2020     12   31      22       52.44
8782  2020     12   31      23       51.86
8783  2020     12   31      24       52.26

[8784 rows x 5 columns]

Now both dataframes are concatenated

In [39]:
df_marg_price = pd.concat([df_price_19, df_price_20])

In [41]:
df_marg_price.reset_index(drop=True, inplace=True)

df_marg_price.sort_values(by=['Year', 'Month', 'Day', 'Period'], inplace=True)

In [43]:
df_marg_price

       Year  Month  Day  Period  Marg_Price
0      2019      1    1       1       66.88
1      2019      1    1       2       66.88
2      2019      1    1       3       66.00
3      2019      1    1       4       63.64
4      2019      1    1       5       58.85
...     ...    ...  ...     ...         ...
17539  2020     12   31      20       60.54
17540  2020     12   31      21       56.75
17541  2020     12   31      22       52.44
17542  2020     12   31      23       51.86
17543  2020     12   31      24       52.26

[17544 rows x 5 columns]

In [44]:
#Searching for NaN

if df_marg_price.shape[0] == df_marg_price.dropna().shape[0]:
    print('No NaN in df')

No NaN in df

In [45]:
df_marg_price['Date']= pd.to_datetime(df_marg_price[['Year', 'Month', 'Day']])

In [46]:
df_marg_price

       Year  Month  Day  Period  Marg_Price       Date
0      2019      1    1       1       66.88 2019-01-01
1      2019      1    1       2       66.88 2019-01-01
2      2019      1    1       3       66.00 2019-01-01
3      2019      1    1       4       63.64 2019-01-01
4      2019      1    1       5       58.85 2019-01-01
...     ...    ...  ...     ...         ...        ...
17539  2020     12   31      20       60.54 2020-12-31
17540  2020     12   31      21       56.75 2020-12-31
17541  2020     12   31      22       52.44 2020-12-31
17542  2020     12   31      23       51.86 2020-12-31
17543  2020     12   31      24       52.26 2020-12-31

[17544 rows x 6 columns]

In [47]:
df_marg_price.to_csv('/home/dsc/Documents/TFM/Data/OMIE/MARGINAL_PRICES_SPAIN.csv')

In [51]:
df_marg_price.dtypes

Year                   int64
Month                  int64
Day                    int64
Period                 int64
Marg_Price           float64
Date          datetime64[ns]
dtype: object

In [49]:
df_marg_price['Date'].max()

Timestamp('2020-12-31 00:00:00')