In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#EXPLORANDO ARCHIVO CABECERAS

In [3]:
archive_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/cab_202009/

In [4]:
archive_list

['CAB_20200901.1',
 'CAB_20200902.1',
 'CAB_20200903.1',
 'CAB_20200904.1',
 'CAB_20200905.1',
 'CAB_20200906.1',
 'CAB_20200907.1',
 'CAB_20200908.1',
 'CAB_20200909.1',
 'CAB_20200910.1',
 'CAB_20200911.1',
 'CAB_20200912.1',
 'CAB_20200913.1',
 'CAB_20200914.1',
 'CAB_20200915.1',
 'CAB_20200916.1',
 'CAB_20200917.1',
 'CAB_20200918.1',
 'CAB_20200919.1',
 'CAB_20200920.1',
 'CAB_20200921.1',
 'CAB_20200922.1',
 'CAB_20200923.1',
 'CAB_20200924.1',
 'CAB_20200925.1',
 'CAB_20200926.1',
 'CAB_20200927.1',
 'CAB_20200928.1',
 'CAB_20200929.1',
 'CAB_20200930.1']

In [5]:
path = '/home/dsc/Documents/TFM/Data/OMIE/cab_202009/CAB_20200901.1'

In [6]:
archive_path = '/home/dsc/Documents/TFM/Data/OMIE/cab_202009/'

In [7]:
archive_09 = []

for archive in archive_list:
    with open(archive_path + archive, errors='replace') as f:
        lines = f.readlines()
        archive_09.append(lines)
        print(len(lines))

1483
1488
1465
1488
1470
1450
1470
1474
1475
1477
1484
1467
1452
1478
1474
1463
1461
1463
1465
1443
1481
1478
1481
1474
1484
1471
1454
1480
1482
1477

In [ ]:
# f = open(archive_path + archive, errors='replace')

In [8]:
#Pruebas para obtener la fecha del nombre del archivo
len(archive)

14

In [9]:
archive[4:12]

'20200930'

In [10]:
archive[8:12]

'0930'

In [11]:
type(archive[8:12])

str

In [12]:
len(archive_09)

30

In [13]:
len(archive_09[0])

1483

In [14]:
len(archive_09[0][0])

170

In [15]:
type(archive)

str

In [16]:
#Comprobación de que todas las lineas tienen todas el mismo número de caracteres, en este caso 170.

for x in range(len(archive_09)):
    for i in archive_09[x]:
        if len(i) != 170:
            print(len(i))
    print('OK')

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [17]:
type(lines)

list

In [18]:
lines[0]

'1696149  6EDPC2  EDP COMERCIAL COMPRA (PORT)   CNO            0.000            0.000    0.0    0.0            0.000            0.000 6000.0    0.0    0.0 220100531155344\n'

In [19]:
len(lines[0])

170

In [20]:
lines[1]

'1717319  3EONUC01EONUR CONSUMO CLIENTES TUR    CNO            0.000            0.000    0.0    0.0            0.000            0.000  400.0    0.0    0.0 120111128182553\n'

In [21]:
len(lines[1])

170

In [22]:
lines[7]

' 298526  4CENTC01C�NTRICA ENERG�A COM. 1 (ESP) CNO            0.000            0.000    0.0    0.0            0.000            0.000 1200.0    0.0    0.0 120161118143949\n'

In [23]:
len(lines[7])

170

In [24]:
x = lines[0]

In [25]:
x

'1696149  6EDPC2  EDP COMERCIAL COMPRA (PORT)   CNO            0.000            0.000    0.0    0.0            0.000            0.000 6000.0    0.0    0.0 220100531155344\n'

In [26]:
len(x)

170

In [27]:
x[0:7]

'1696149'

In [28]:
x[7:10]

'  6'

In [29]:
x[10:17]

'EDPC2  '

In [30]:
x[17:47]

'EDP COMERCIAL COMPRA (PORT)   '

In [31]:
x[47:50]

'CNO'

In [32]:
x[50:67]

'            0.000'

In [33]:
x[67:84]

'            0.000'

In [34]:
x[84:91]

'    0.0'

In [35]:
x[91:98]

'    0.0'

In [36]:
x[98:115]

'            0.000'

In [37]:
x[115:132]

'            0.000'

In [38]:
x[132:139]

' 6000.0'

In [39]:
x[139:146]

'    0.0'

In [40]:
x[146:153]

'    0.0'

In [41]:
x[153:170]

' 220100531155344\n'

In [94]:
[x[0:7] + '^' + x[7:10] +'^'+ x[10:17] +'^'+ x[17:47] +'^'+ x[47:50] +'^'+ x[132:139]]

['1696149^  6^EDPC2  ^EDP COMERCIAL COMPRA (PORT)   ^CNO^ 6000.0']

In [44]:
len(archive_09)

30

In [45]:
len(archive_09[0])

1483

In [46]:
archive_09[0][0][0:7]

'1696149'

In [95]:
#Prueba crear una lista única con strings y ',' y solo la info que me interesa:
#[Código de oferta, Num. versión, Unidad ofertante, Descripción unidad, Indicador Compra/Venta, Potencia máxima]
#[[0:7],[7:10],[10:17],[17:47],[47:50],[132:139]]
#Se unen con "^" para evitar problemas con el "split" y las "," en los nombres

cab_total_09 = []

for day in range(len(archive_09)):
    for count in range(len(archive_09[day])):
        cab_total_09.append((archive_09[day][count][0:7] +'^'+ 
                            archive_09[day][count][7:10] +'^'+ 
                            archive_09[day][count][10:17] +'^'+ 
                            archive_09[day][count][17:47] +'^'+ 
                            archive_09[day][count][47:50] +'^'+ 
                            archive_09[day][count][132:139] +'^'+ 
                            archive_list[day][4:8] + '^' + 
                            archive_list[day][8:10] + '^' + 
                            archive_list[day][10:12]).split('^'))

In [96]:
#Lista con todos la info.

len(cab_total_09)

44152

In [97]:
cab_total_09[0]

['1696149',
 '  6',
 'EDPC2  ',
 'EDP COMERCIAL COMPRA (PORT)   ',
 'CNO',
 ' 6000.0',
 '2020',
 '09',
 '01']

In [98]:
type(cab_total_09)

list

In [99]:
cab_total_09[29390]

['1696149',
 '  6',
 'EDPC2  ',
 'EDP COMERCIAL COMPRA (PORT)   ',
 'CNO',
 ' 6000.0',
 '2020',
 '09',
 '21']

In [100]:
len(cab_total_09[29390])

9

In [101]:
type(cab_total_09[29390])

list

In [105]:
#columns=['Bid_Code', 'Num_Version', 'Bid_Unit', 'Unit_Description', 'Sell/Buy', 'Pot_max', 'Year','Month','Day']
df_cab_09 = pd.DataFrame(cab_total_09,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Bid_Unit', 
                                 'Unit_Description', 
                                 'Sell_Buy', 
                                 'Pot_max', 
                                 'Year',
                                 'Month',
                                 'Day'])

In [106]:
df_cab_09.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day
0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,09,01
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01
2,1811311,7,IPG,C.H. IP GENERACION,VNO,84.0,2020,09,01
3,426609,12,IPB,C.H.B.IP BOMBEO,CNO,99.0,2020,09,01
4,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01

In [107]:
df_cab_09.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day
0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,09,01
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01
2,1811311,7,IPG,C.H. IP GENERACION,VNO,84.0,2020,09,01
3,426609,12,IPB,C.H.B.IP BOMBEO,CNO,99.0,2020,09,01
4,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01

In [108]:
df_cab_09.to_csv(archive_path +'CAB_09.csv')

In [109]:
df_cab_09.iloc[549]

Bid_Code                                   6469718
Num_Version                                      0
Bid_Unit                                   VISAC01
Unit_Description    SAMOYEDO, S.L.
Sell_Buy                                       CNO
Pot_max                                        1.2
Year                                          2020
Month                                           09
Day                                             01
Name: 549, dtype: object

In [110]:
###VAMOS AHORA A INSPECCIONAR UN ARCHIVO DET_

DET_path = '/home/dsc/Documents/TFM/Data/OMIE/det_202009/DET_20200901.1'
det_0901 = []

with open(DET_path) as det:
        det_lines = det.readlines()
        det_0901.append(det_lines)
        print(len(det_lines))

50676

In [112]:
len(det_0901)

1

In [113]:
len(det_0901[0])

50676

In [114]:
len(det_0901[0][0])

58

In [116]:
#Comprobación de que todas las lineas tienen todas el mismo número de caracteres, en este caso 170.

for x in range(len(det_0901)):
    for i in det_0901[x]:
        if len(i) != 58:
            print(len(i))
    print('OK')

OK

In [118]:
y = det_lines[0]
y

'1696149  622 1            0.000            0.010    0.1SS\n'

In [119]:
y[0:7]

'1696149'

In [120]:
y[7:10]

'  6'

In [121]:
y[10:12]

'22'

In [122]:
y[12:14]

' 1'

In [125]:
y[31:48]

'            0.010'

In [128]:
y[48:55]

'    0.1'

In [129]:
archive_det_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/det_202009/

In [130]:
#Prueba crear una lista única con strings y ',' y solo la info que me interesa:
#[Código de oferta, Num. versión, Periodo, Bloque, Precio, Energía]
#[[0:7],[7:10],[10:12],[12:14],[31:48],[48:55]]
#Se unen con "^" para evitar problemas con el "split" y las "," en los nombres

det_total_0901 = []

for day in range(len(det_0901)):
    for count in range(len(det_0901[day])):
        det_total_0901.append((det_0901[day][count][0:7] +'^'+ 
                            det_0901[day][count][7:10] +'^'+ 
                            det_0901[day][count][10:12] +'^'+ 
                            det_0901[day][count][12:14] +'^'+ 
                            det_0901[day][count][31:48] +'^'+ 
                            det_0901[day][count][48:55] +'^'+ 
                            archive_det_list[day][4:8] + '^' + 
                            archive_det_list[day][8:10] + '^' + 
                            archive_det_list[day][10:12]).split('^'))

In [131]:
#Lista con todos la info.

len(det_total_0901)

50676

In [132]:
det_total_0901[0]

['1696149',
 '  6',
 '22',
 ' 1',
 '            0.010',
 '    0.1',
 '2020',
 '09',
 '01']

In [133]:
type(det_total_0901)

list

In [134]:
len(det_total_0901[29390])

9

In [136]:
#columns=['Bid_Code', 'Num_Version', 'Bid_Unit', 'Unit_Description', 'Sell/Buy', 'Pot_max', 'Year','Month','Day']
df_det_0901 = pd.DataFrame(det_total_0901,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Period', 
                                 'Block', 
                                 'Price', 
                                 'Energy', 
                                 'Year',
                                 'Month',
                                 'Day'])

In [137]:
df_det_0901.head()

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
0,1696149,6,22,1,0.010,0.1,2020,09,01
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01

In [138]:
df_det_0901.to_csv('/home/dsc/Documents/TFM/Data/OMIE/det_202009/DET_20200901.csv')

In [140]:
type(df_det_0901)

pandas.core.frame.DataFrame

In [142]:
df_det_0901.dtypes

Bid_Code       object
Num_Version    object
Period         object
Block          object
Price          object
Energy         object
Year           object
Month          object
Day            object
dtype: object

In [143]:
df_det_0901.head(20)

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
0,1696149,6,22,1,0.010,0.1,2020,09,01
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01
5,1717319,3,5,1,0.000,1.0,2020,09,01
6,1717319,3,6,1,0.000,1.0,2020,09,01
7,1717319,3,7,1,0.000,1.0,2020,09,01
8,1717319,3,8,1,0.000,1.0,2020,09,01
9,1717319,3,9,1,0.000,1.0,2020,09,01
10,1717319,3,10,1,0.000,1.0,2020,09,01
11,1717319,3,11,1,0.000,1.0,2020,09,01
12,1717319,3,12,1,0.000,1.0,2020,09,01
13,1717319,3,13,1,0.000,1.0,2020,09,01
14,1717319,3,14,1,0.000,1.0,2020,09,01
15,1717319,3,15,1,0.000,1.0,2020,09,01
16,1717319,3,16,1,0.000,1.0,2020,09,01
17,1717319,3,17,1,0.000,1.0,2020,09,01
18,1717319,3,18,1,0.000,1.0,2020,09,01
19,1717319,3,19,1,0.000,1.0,2020,09,01

In [144]:
df_det_0901.loc[df_det_0901['Bid_Code'] == '1717319']

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01
5,1717319,3,5,1,0.000,1.0,2020,09,01
6,1717319,3,6,1,0.000,1.0,2020,09,01
7,1717319,3,7,1,0.000,1.0,2020,09,01
8,1717319,3,8,1,0.000,1.0,2020,09,01
9,1717319,3,9,1,0.000,1.0,2020,09,01
10,1717319,3,10,1,0.000,1.0,2020,09,01
11,1717319,3,11,1,0.000,1.0,2020,09,01
12,1717319,3,12,1,0.000,1.0,2020,09,01
13,1717319,3,13,1,0.000,1.0,2020,09,01
14,1717319,3,14,1,0.000,1.0,2020,09,01
15,1717319,3,15,1,0.000,1.0,2020,09,01
16,1717319,3,16,1,0.000,1.0,2020,09,01
17,1717319,3,17,1,0.000,1.0,2020,09,01
18,1717319,3,18,1,0.000,1.0,2020,09,01
19,1717319,3,19,1,0.000,1.0,2020,09,01
20,1717319,3,20,1,0.000,1.0,2020,09,01
21,1717319,3,21,1,0.000,1.0,2020,09,01
22,1717319,3,22,1,0.000,1.0,2020,09,01
23,1717319,3,23,1,0.000,1.0,2020,09,01
24,1717319,3,24,1,0.000,1.0,2020,09,01

In [147]:
df_cab_09.merge(df_det_0901,how = 'inner').loc[df_det_0901['Bid_Code'] == '1717319']

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,1,1,0.000,1.0
2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,2,1,0.000,1.0
3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,3,1,0.000,1.0
4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,4,1,0.000,1.0
5,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,5,1,0.000,1.0
6,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,6,1,0.000,1.0
7,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,7,1,0.000,1.0
8,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,8,1,0.000,1.0
9,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,9,1,0.000,1.0
10,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,10,1,0.000,1.0
11,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,11,1,0.000,1.0
12,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,12,1,0.000,1.0
13,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,13,1,0.000,1.0
14,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,14,1,0.000,1.0
15,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,15,1,0.000,1.0
16,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,16,1,0.000,1.0
17,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,17,1,0.000,1.0
18,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,18,1,0.000,1.0
19,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,19,1,0.000,1.0
20,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,20,1,0.000,1.0
21,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,21,1,0.000,1.0
22,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,22,1,0.000,1.0
23,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,23,1,0.000,1.0
24,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,24,1,0.000,1.0

In [ ]:
#Para evitar la multiplicación de lines no deseadas, lo lógico es eliminar las celdas de "COMPRA" en el df de
#cabeceras o elegir las unidades de negocio en ese momento para que la consulta con el fichero de detalle no
#acabe con millones de lineas.