In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
cab_det_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/'

In [30]:
cab_det_list_1 = !ls -1 $cab_det_path
cab_det_list_1

['OMIE_012020.csv',
 'OMIE_022020.csv',
 'OMIE_032020.csv',
 'OMIE_042020.csv',
 'OMIE_052020.csv',
 'OMIE_062020.csv',
 'OMIE_072020.csv',
 'OMIE_082020.csv',
 'OMIE_092020.csv',
 'OMIE_102020.csv',
 'OMIE_112019.csv',
 'OMIE_122019.csv']

In [31]:
cab_det_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/CAB_DET/
cab_det_list

['OMIE_012020.csv',
 'OMIE_022020.csv',
 'OMIE_032020.csv',
 'OMIE_042020.csv',
 'OMIE_052020.csv',
 'OMIE_062020.csv',
 'OMIE_072020.csv',
 'OMIE_082020.csv',
 'OMIE_092020.csv',
 'OMIE_102020.csv',
 'OMIE_112019.csv',
 'OMIE_122019.csv']

In [7]:
df_OMIE_092020 = pd.read_csv(cab_det_path + 'OMIE_092020.csv')

In [8]:
df_OMIE_092020.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,9,1,22,1,0.01,0.1
1,1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,1,1,0.00,1.0
2,2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,2,1,0.00,1.0
3,3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,3,1,0.00,1.0
4,4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1,4,1,0.00,1.0

In [9]:
df_OMIE_092020.shape

(1478829, 14)

In [10]:
df_OMIE_092020['Sell_Buy'].value_counts()

VNO    1072350
CNO     405759
VNP        720
Name: Sell_Buy, dtype: int64

In [15]:
unit = 'PALOS1'

df_OMIE_unit = pd.DataFrame()

for archive in cab_det_list:
    df_OMIE_month = pd.read_csv(cab_det_path + archive)
    df_OMIE_unit_month = df_OMIE_month.loc[df_OMIE_month['Bid_Unit'].str.contains(unit)]
    df_OMIE_unit = pd.concat([df_OMIE_unit,df_OMIE_unit_month])

In [16]:
df_OMIE_unit.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
26739,26739,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,1,12,180.30,394.1
26740,26740,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,2,12,180.30,394.1
26741,26741,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,1,1.13,50.0
26742,26742,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,3,12,180.30,344.1
26743,26743,6128191,2,PALOS1,C.C. PALOS 1,VNO,394.1,2020,1,1,4,1,1.13,60.0

In [17]:
type(df_OMIE_unit)

pandas.core.frame.DataFrame

In [18]:
df_OMIE_unit.shape

(71112, 14)

In [19]:
df_OMIE_unit['Year'].value_counts()

2020    61045
2019    10067
Name: Year, dtype: int64

In [20]:
df_OMIE_unit['Month'].value_counts()

12    6541
1     6519
10    6181
8     6169
7     6169
5     6169
3     6157
9     5970
6     5970
4     5970
2     5771
11    3526
Name: Month, dtype: int64

In [21]:
df_OMIE_unit['Day'].value_counts()

25    2433
24    2426
22    2425
21    2425
1     2424
18    2424
4     2424
28    2424
27    2424
26    2424
3     2424
2     2424
23    2417
20    2415
29    2412
19    2370
5     2221
30    2214
9     2213
6     2213
7     2213
8     2213
16    2213
10    2213
11    2213
12    2213
13    2213
14    2213
15    2213
17    2213
31    1406
Name: Day, dtype: int64

In [62]:
#Función que selecciona una unidad o unidades en función de su nombre entre los archivos de generados de cab-det
#de OMIE. La salida es un df con la info de la unidad seleccionada para todo el periodo disponible de datos 
#en el "Data-Lake" local.

def df_sel_unit(unit):
    
    cab_det_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/'
    cab_det_list = !ls -1 $cab_det_path
    
    df_OMIE_unit = pd.DataFrame()

    for archive in cab_det_list:
        df_OMIE_month = pd.read_csv(cab_det_path + archive)
        df_OMIE_unit_month = df_OMIE_month.loc[df_OMIE_month['Bid_Unit'].str.startswith(unit)]
        df_OMIE_unit = pd.concat([df_OMIE_unit,df_OMIE_unit_month])
    
    return df_OMIE_unit

In [38]:
df_PALOS1 = df_sel_unit('PALOS1')

In [39]:
df_PALOS1.to_csv('/home/dsc/Documents/TFM/Data/OMIE/OMIE_PALOS1/OMIE_PALOS1.csv')

In [36]:
df_PALOS = df_sel_unit('PALOS')

In [40]:
df_PALOS.to_csv('/home/dsc/Documents/TFM/Data/OMIE/OMIE_PALOS/OMIE_PALOS.csv')

In [37]:
df_PALOS['Bid_Unit'].value_counts()

PALOS1     71112
PALOS3     70179
PALOS2     68034
Name: Bid_Unit, dtype: int64

In [41]:
df_AGUAYO = df_sel_unit('AGUAYO')

In [42]:
df_AGUAYO.shape

(0, 14)

In [43]:
df_AGUAYO.head()

Empty DataFrame
Columns: [Unnamed: 0, Bid_Code, Num_Version, Bid_Unit, Unit_Description, Sell_Buy, Pot_max, Year, Month, Day, Period, Block, Price, Energy]
Index: []

In [45]:
df_cab_example = pd.read_csv('/home/dsc/Documents/TFM/Data/OMIE/cab_202009/CAB_09.csv',)

In [46]:
df_cab_example.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day
0,0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,9,1
1,1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,9,1
2,2,1811311,7,IPG,C.H. IP GENERACION,VNO,84.0,2020,9,1
3,3,426609,12,IPB,C.H.B.IP BOMBEO,CNO,99.0,2020,9,1
4,4,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,9,1

In [51]:
df_cab_example.loc[df_cab_example['Unit_Description'].str.contains('AGUAY0')]['Bid_Unit'].value_counts()

AGUG       30
AGUB       30
Name: Bid_Unit, dtype: int64

In [58]:
df_cab_example.loc[df_cab_example['Bid_Unit'].str.contains('AGU')]['Bid_Unit'].value_counts()

AGUB       30
SAGU2      30
AGUG       30
SAGU1      30
Name: Bid_Unit, dtype: int64

In [59]:
df_cab_example.loc[df_cab_example['Bid_Unit'].str.startswith('AGU')]['Bid_Unit'].value_counts()

AGUG       30
AGUB       30
Name: Bid_Unit, dtype: int64

In [63]:
df_AGUAYO = df_sel_unit('AGU')

In [64]:
df_AGUAYO.shape

(82252, 14)

In [65]:
df_AGUAYO.head()

,Unnamed: 0,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
36051,36051,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,1,30.0,80.0
36052,36052,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,2,48.0,80.0
36053,36053,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,3,52.0,80.0
36054,36054,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,4,56.0,80.0
36055,36055,6129555,1,AGUG,C.H. AGUAYO GENERACION,VNO,360.6,2020,1,1,1,5,180.3,40.6