In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#EXPLORANDO ARCHIVO CABECERAS

In [7]:
archive_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/CAB/cab_202009/

In [8]:
archive_list

['CAB_20200901.1',
 'CAB_20200902.1',
 'CAB_20200903.1',
 'CAB_20200904.1',
 'CAB_20200905.1',
 'CAB_20200906.1',
 'CAB_20200907.1',
 'CAB_20200908.1',
 'CAB_20200909.1',
 'CAB_20200910.1',
 'CAB_20200911.1',
 'CAB_20200912.1',
 'CAB_20200913.1',
 'CAB_20200914.1',
 'CAB_20200915.1',
 'CAB_20200916.1',
 'CAB_20200917.1',
 'CAB_20200918.1',
 'CAB_20200919.1',
 'CAB_20200920.1',
 'CAB_20200921.1',
 'CAB_20200922.1',
 'CAB_20200923.1',
 'CAB_20200924.1',
 'CAB_20200925.1',
 'CAB_20200926.1',
 'CAB_20200927.1',
 'CAB_20200928.1',
 'CAB_20200929.1',
 'CAB_20200930.1']

In [9]:
path = '/home/dsc/Documents/TFM/Data/OMIE/cab_202009/CAB/CAB_20200901.1'

In [10]:
archive_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB/cab_202009/'

In [11]:
archive_09 = []

for archive in archive_list:
    with open(archive_path + archive, errors='replace') as f:
        lines = f.readlines()
        archive_09.append(lines)
        print(len(lines))

1483
1488
1465
1488
1470
1450
1470
1474
1475
1477
1484
1467
1452
1478
1474
1463
1461
1463
1465
1443
1481
1478
1481
1474
1484
1471
1454
1480
1482
1477

In [12]:
# f = open(archive_path + archive, errors='replace')

In [13]:
#Pruebas para obtener la fecha del nombre del archivo
len(archive)

14

In [14]:
archive[4:12]

'20200930'

In [15]:
archive[8:12]

'0930'

In [16]:
type(archive[8:12])

str

In [17]:
len(archive_09)

30

In [18]:
len(archive_09[0])

1483

In [19]:
len(archive_09[0][0])

170

In [20]:
type(archive)

str

In [21]:
#Comprobación de que todas las lineas tienen todas el mismo número de caracteres, en este caso 170.

for x in range(len(archive_09)):
    for i in archive_09[x]:
        if len(i) != 170:
            print(len(i))
    print('OK')

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [22]:
type(lines)

list

In [23]:
lines[0]

'1696149  6EDPC2  EDP COMERCIAL COMPRA (PORT)   CNO            0.000            0.000    0.0    0.0            0.000            0.000 6000.0    0.0    0.0 220100531155344\n'

In [24]:
len(lines[0])

170

In [25]:
lines[1]

'1717319  3EONUC01EONUR CONSUMO CLIENTES TUR    CNO            0.000            0.000    0.0    0.0            0.000            0.000  400.0    0.0    0.0 120111128182553\n'

In [26]:
len(lines[1])

170

In [27]:
lines[7]

' 298526  4CENTC01C�NTRICA ENERG�A COM. 1 (ESP) CNO            0.000            0.000    0.0    0.0            0.000            0.000 1200.0    0.0    0.0 120161118143949\n'

In [28]:
len(lines[7])

170

In [29]:
x = lines[0]

In [30]:
x

'1696149  6EDPC2  EDP COMERCIAL COMPRA (PORT)   CNO            0.000            0.000    0.0    0.0            0.000            0.000 6000.0    0.0    0.0 220100531155344\n'

In [31]:
len(x)

170

In [32]:
x[0:7]

'1696149'

In [33]:
x[7:10]

'  6'

In [34]:
x[10:17]

'EDPC2  '

In [35]:
x[17:47]

'EDP COMERCIAL COMPRA (PORT)   '

In [36]:
x[47:50]

'CNO'

In [37]:
x[50:67]

'            0.000'

In [38]:
x[67:84]

'            0.000'

In [39]:
x[84:91]

'    0.0'

In [40]:
x[91:98]

'    0.0'

In [41]:
x[98:115]

'            0.000'

In [42]:
x[115:132]

'            0.000'

In [43]:
x[132:139]

' 6000.0'

In [44]:
x[139:146]

'    0.0'

In [45]:
x[146:153]

'    0.0'

In [46]:
x[153:170]

' 220100531155344\n'

In [47]:
[x[0:7] + '^' + x[7:10] +'^'+ x[10:17] +'^'+ x[17:47] +'^'+ x[47:50] +'^'+ x[132:139]]

['1696149^  6^EDPC2  ^EDP COMERCIAL COMPRA (PORT)   ^CNO^ 6000.0']

In [48]:
len(archive_09)

30

In [49]:
len(archive_09[0])

1483

In [50]:
archive_09[0][0][0:7]

'1696149'

In [51]:
#Prueba crear una lista única con strings y ',' y solo la info que me interesa:
#[Código de oferta, Num. versión, Unidad ofertante, Descripción unidad, Indicador Compra/Venta, Potencia máxima]
#[[0:7],[7:10],[10:17],[17:47],[47:50],[132:139]]
#Se unen con "^" para evitar problemas con el "split" y las "," en los nombres

cab_total_09 = []

for day in range(len(archive_09)):
    for count in range(len(archive_09[day])):
        cab_total_09.append((archive_09[day][count][0:7] +'^'+ 
                            archive_09[day][count][7:10] +'^'+ 
                            archive_09[day][count][10:17] +'^'+ 
                            archive_09[day][count][17:47] +'^'+ 
                            archive_09[day][count][47:50] +'^'+ 
                            archive_09[day][count][132:139] +'^'+ 
                            archive_list[day][4:8] + '^' + 
                            archive_list[day][8:10] + '^' + 
                            archive_list[day][10:12]).split('^'))

In [52]:
#Lista con todos la info.

len(cab_total_09)

44152

In [53]:
cab_total_09[0]

['1696149',
 '  6',
 'EDPC2  ',
 'EDP COMERCIAL COMPRA (PORT)   ',
 'CNO',
 ' 6000.0',
 '2020',
 '09',
 '01']

In [54]:
type(cab_total_09)

list

In [55]:
cab_total_09[29390]

['1696149',
 '  6',
 'EDPC2  ',
 'EDP COMERCIAL COMPRA (PORT)   ',
 'CNO',
 ' 6000.0',
 '2020',
 '09',
 '21']

In [56]:
len(cab_total_09[29390])

9

In [57]:
type(cab_total_09[29390])

list

In [58]:
#columns=['Bid_Code', 'Num_Version', 'Bid_Unit', 'Unit_Description', 'Sell/Buy', 'Pot_max', 'Year','Month','Day']
df_cab_09 = pd.DataFrame(cab_total_09,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Bid_Unit', 
                                 'Unit_Description', 
                                 'Sell_Buy', 
                                 'Pot_max', 
                                 'Year',
                                 'Month',
                                 'Day'])

In [59]:
df_cab_09.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day
0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,09,01
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01
2,1811311,7,IPG,C.H. IP GENERACION,VNO,84.0,2020,09,01
3,426609,12,IPB,C.H.B.IP BOMBEO,CNO,99.0,2020,09,01
4,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01

In [60]:
df_cab_09.to_csv('/home/dsc/Documents/TFM/Data/OMIE/' +'CAB_09.csv')

In [61]:
df_cab_09.iloc[549]

Bid_Code                                   6469718
Num_Version                                      0
Bid_Unit                                   VISAC01
Unit_Description    SAMOYEDO, S.L.
Sell_Buy                                       CNO
Pot_max                                        1.2
Year                                          2020
Month                                           09
Day                                             01
Name: 549, dtype: object

In [62]:
###VAMOS AHORA A INSPECCIONAR UN ARCHIVO DET_

DET_path = '/home/dsc/Documents/TFM/Data/OMIE/DET/det_202009/DET_20200901.1'
det_0901 = []

with open(DET_path) as det:
        det_lines = det.readlines()
        det_0901.append(det_lines)
        print(len(det_lines))

50676

In [63]:
len(det_0901)

1

In [64]:
len(det_0901[0])

50676

In [65]:
len(det_0901[0][0])

58

In [66]:
#Comprobación de que todas las lineas tienen todas el mismo número de caracteres, en este caso 58.

for x in range(len(det_0901)):
    for i in det_0901[x]:
        if len(i) != 58:
            print(len(i))
    print('OK')

OK

In [67]:
y = det_lines[0]
y

'1696149  622 1            0.000            0.010    0.1SS\n'

In [68]:
y[0:7]

'1696149'

In [69]:
y[7:10]

'  6'

In [70]:
y[10:12]

'22'

In [71]:
y[12:14]

' 1'

In [72]:
y[31:48]

'            0.010'

In [73]:
y[48:55]

'    0.1'

In [74]:
archive_det_list = !ls -1 /home/dsc/Documents/TFM/Data/OMIE/DET/det_202009/

In [75]:
archive_det_list

['DET_20200901.1',
 'DET_20200902.1',
 'DET_20200903.1',
 'DET_20200904.1',
 'DET_20200905.1',
 'DET_20200906.1',
 'DET_20200907.1',
 'DET_20200908.1',
 'DET_20200909.1',
 'DET_20200910.1',
 'DET_20200911.1',
 'DET_20200912.1',
 'DET_20200913.1',
 'DET_20200914.1',
 'DET_20200915.1',
 'DET_20200916.1',
 'DET_20200917.1',
 'DET_20200918.1',
 'DET_20200919.1',
 'DET_20200920.1',
 'DET_20200921.1',
 'DET_20200922.1',
 'DET_20200923.1',
 'DET_20200924.1',
 'DET_20200925.1',
 'DET_20200926.1',
 'DET_20200927.1',
 'DET_20200928.1',
 'DET_20200929.1',
 'DET_20200930.1']

In [76]:
#Prueba crear una lista única con strings y ',' y solo la info que me interesa:
#[Código de oferta, Num. versión, Periodo, Bloque, Precio, Energía]
#[[0:7],[7:10],[10:12],[12:14],[31:48],[48:55]]
#Se unen con "^" para evitar problemas con el "split" y las "," en los nombres

det_total_0901 = []

for day in range(len(det_0901)):
    for count in range(len(det_0901[day])):
        det_total_0901.append((det_0901[day][count][0:7] +'^'+ 
                            det_0901[day][count][7:10] +'^'+ 
                            det_0901[day][count][10:12] +'^'+ 
                            det_0901[day][count][12:14] +'^'+ 
                            det_0901[day][count][31:48] +'^'+ 
                            det_0901[day][count][48:55] +'^'+ 
                            archive_det_list[day][4:8] + '^' + 
                            archive_det_list[day][8:10] + '^' + 
                            archive_det_list[day][10:12]).split('^'))

In [77]:
#Lista con todos la info.

len(det_total_0901)

50676

In [78]:
det_total_0901[0]

['1696149',
 '  6',
 '22',
 ' 1',
 '            0.010',
 '    0.1',
 '2020',
 '09',
 '01']

In [79]:
type(det_total_0901)

list

In [80]:
len(det_total_0901[29390])

9

In [81]:
#columns=['Bid_Code', 'Num_Version', 'Bid_Unit', 'Unit_Description', 'Sell/Buy', 'Pot_max', 'Year','Month','Day']
df_det_0901 = pd.DataFrame(det_total_0901,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Period', 
                                 'Block', 
                                 'Price', 
                                 'Energy', 
                                 'Year',
                                 'Month',
                                 'Day'])

In [82]:
df_det_0901.head()

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
0,1696149,6,22,1,0.010,0.1,2020,09,01
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01

In [83]:
df_det_0901.to_csv('/home/dsc/Documents/TFM/Data/OMIE/DET_20200901.csv')

In [84]:
type(df_det_0901)

pandas.core.frame.DataFrame

In [85]:
df_det_0901.dtypes

Bid_Code       object
Num_Version    object
Period         object
Block          object
Price          object
Energy         object
Year           object
Month          object
Day            object
dtype: object

In [86]:
df_det_0901.head(20)

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
0,1696149,6,22,1,0.010,0.1,2020,09,01
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01
5,1717319,3,5,1,0.000,1.0,2020,09,01
6,1717319,3,6,1,0.000,1.0,2020,09,01
7,1717319,3,7,1,0.000,1.0,2020,09,01
8,1717319,3,8,1,0.000,1.0,2020,09,01
9,1717319,3,9,1,0.000,1.0,2020,09,01
10,1717319,3,10,1,0.000,1.0,2020,09,01
11,1717319,3,11,1,0.000,1.0,2020,09,01
12,1717319,3,12,1,0.000,1.0,2020,09,01
13,1717319,3,13,1,0.000,1.0,2020,09,01
14,1717319,3,14,1,0.000,1.0,2020,09,01
15,1717319,3,15,1,0.000,1.0,2020,09,01
16,1717319,3,16,1,0.000,1.0,2020,09,01
17,1717319,3,17,1,0.000,1.0,2020,09,01
18,1717319,3,18,1,0.000,1.0,2020,09,01
19,1717319,3,19,1,0.000,1.0,2020,09,01

In [87]:
df_det_0901.loc[df_det_0901['Bid_Code'] == '1717319']

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01
5,1717319,3,5,1,0.000,1.0,2020,09,01
6,1717319,3,6,1,0.000,1.0,2020,09,01
7,1717319,3,7,1,0.000,1.0,2020,09,01
8,1717319,3,8,1,0.000,1.0,2020,09,01
9,1717319,3,9,1,0.000,1.0,2020,09,01
10,1717319,3,10,1,0.000,1.0,2020,09,01
11,1717319,3,11,1,0.000,1.0,2020,09,01
12,1717319,3,12,1,0.000,1.0,2020,09,01
13,1717319,3,13,1,0.000,1.0,2020,09,01
14,1717319,3,14,1,0.000,1.0,2020,09,01
15,1717319,3,15,1,0.000,1.0,2020,09,01
16,1717319,3,16,1,0.000,1.0,2020,09,01
17,1717319,3,17,1,0.000,1.0,2020,09,01
18,1717319,3,18,1,0.000,1.0,2020,09,01
19,1717319,3,19,1,0.000,1.0,2020,09,01
20,1717319,3,20,1,0.000,1.0,2020,09,01
21,1717319,3,21,1,0.000,1.0,2020,09,01
22,1717319,3,22,1,0.000,1.0,2020,09,01
23,1717319,3,23,1,0.000,1.0,2020,09,01
24,1717319,3,24,1,0.000,1.0,2020,09,01

In [88]:
#En este df se encuentran lincadas todas las ofertas de un día con el precio y la enería ofertada

df_cab_09.merge(df_det_0901,how = 'inner')

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,09,01,22,1,0.010,0.1
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,1,1,0.000,1.0
2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,2,1,0.000,1.0
3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,3,1,0.000,1.0
4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,4,1,0.000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50671,6469400,4,NEXUC01,NEXUS ENERG�A COMPRA (ESP),CNO,900.0,2020,09,01,24,21,25.720,0.1
50672,6469400,4,NEXUC01,NEXUS ENERG�A COMPRA (ESP),CNO,900.0,2020,09,01,24,22,25.220,0.1
50673,6469400,4,NEXUC01,NEXUS ENERG�A COMPRA (ESP),CNO,900.0,2020,09,01,24,23,24.720,0.1
50674,6469400,4,NEXUC01,NEXUS ENERG�A COMPRA (ESP),CNO,900.0,2020,09,01,24,24,24.220,0.1
50675,6469400,4,NEXUC01,NEXUS ENERG�A COMPRA (ESP),CNO,900.0,2020,09,01,24,25,0.010,5.0

In [89]:
df_cab_09.merge(df_det_0901,how = 'inner').loc[df_det_0901['Bid_Code'] == '1717319']

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,1,1,0.000,1.0
2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,2,1,0.000,1.0
3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,3,1,0.000,1.0
4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,4,1,0.000,1.0
5,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,5,1,0.000,1.0
6,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,6,1,0.000,1.0
7,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,7,1,0.000,1.0
8,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,8,1,0.000,1.0
9,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,9,1,0.000,1.0
10,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,10,1,0.000,1.0
11,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,11,1,0.000,1.0
12,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,12,1,0.000,1.0
13,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,13,1,0.000,1.0
14,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,14,1,0.000,1.0
15,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,15,1,0.000,1.0
16,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,16,1,0.000,1.0
17,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,17,1,0.000,1.0
18,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,18,1,0.000,1.0
19,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,19,1,0.000,1.0
20,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,20,1,0.000,1.0
21,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,21,1,0.000,1.0
22,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,22,1,0.000,1.0
23,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,23,1,0.000,1.0
24,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,24,1,0.000,1.0

In [90]:
#Para evitar la multiplicación de lines no deseadas, lo lógico es eliminar las celdas de "COMPRA" en el df de
#cabeceras o elegir las unidades de negocio en ese momento para que la consulta con el fichero de detalle no
#acabe con millones de lineas.

In [91]:
#Vemos si es viable generar un archivo DET mensual (aprox. 1.5M lineas)

In [92]:
###VAMOS INCLUIR LOS ARCHIVOS DET DE SEPTIEMBRE

DET_path_09 = '/home/dsc/Documents/TFM/Data/OMIE/DET/det_202009/'

det_09 = []

for archive in archive_det_list:
    with open(DET_path_09 + archive, errors='replace') as f:
        lines = f.readlines()
        det_09.append(lines)
        print(len(lines))

50676
50276
49509
50102
48885
48385
48974
49975
49167
49163
49939
47797
48843
49202
48848
48730
48658
50117
49236
48829
50030
49036
49580
49526
50182
49290
49451
49594
48059
48770

In [93]:
#Comprobación de que todas las lineas tienen todas el mismo número de caracteres, en este caso 58.

for x in range(len(det_09)):
    for i in det_09[x]:
        if len(i) != 58:
            print(len(i))
    print('OK')

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [94]:
det_09

det_total_09 = []

for day in range(len(det_09)):
    for count in range(len(det_09[day])):
        det_total_09.append((det_09[day][count][0:7] +'^'+ 
                            det_09[day][count][7:10] +'^'+ 
                            det_09[day][count][10:12] +'^'+ 
                            det_09[day][count][12:14] +'^'+ 
                            det_09[day][count][31:48] +'^'+ 
                            det_09[day][count][48:55] +'^'+ 
                            archive_det_list[day][4:8] + '^' + 
                            archive_det_list[day][8:10] + '^' + 
                            archive_det_list[day][10:12]).split('^'))

In [95]:
#Lista con todos la info.

len(det_total_09)

1478829

In [96]:
det_total_09[0]

['1696149',
 '  6',
 '22',
 ' 1',
 '            0.010',
 '    0.1',
 '2020',
 '09',
 '01']

In [97]:
type(det_total_09)

list

In [98]:
len(det_total_09[29390])

9

In [99]:
#columns=['Bid_Code', 'Num_Version', 'Bid_Unit', 'Unit_Description', 'Sell/Buy', 'Pot_max', 'Year','Month','Day']
df_det_09 = pd.DataFrame(det_total_09,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Period', 
                                 'Block', 
                                 'Price', 
                                 'Energy', 
                                 'Year',
                                 'Month',
                                 'Day'])

In [100]:
df_det_09.head()

,Bid_Code,Num_Version,Period,Block,Price,Energy,Year,Month,Day
0,1696149,6,22,1,0.010,0.1,2020,09,01
1,1717319,3,1,1,0.000,1.0,2020,09,01
2,1717319,3,2,1,0.000,1.0,2020,09,01
3,1717319,3,3,1,0.000,1.0,2020,09,01
4,1717319,3,4,1,0.000,1.0,2020,09,01

In [101]:
df_det_09.to_csv('/home/dsc/Documents/TFM/Data/OMIE/DET_202009.csv')

In [102]:
df_det_09.shape

(1478829, 9)

In [103]:
#En este df se encuentran lincadas todas las ofertas de un día con el precio y la enería ofertada

df_merge_09 = df_cab_09.merge(df_det_09,how = 'inner')

In [104]:
df_merge_09.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
0,1696149,6,EDPC2,EDP COMERCIAL COMPRA (PORT),CNO,6000.0,2020,09,01,22,1,0.010,0.1
1,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,1,1,0.000,1.0
2,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,2,1,0.000,1.0
3,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,3,1,0.000,1.0
4,1717319,3,EONUC01,EONUR CONSUMO CLIENTES TUR,CNO,400.0,2020,09,01,4,1,0.000,1.0

In [105]:
df_merge_09.shape

(1478829, 13)

In [106]:
df_merge_09['Sell_Buy'].value_counts()

VNO    1072350
CNO     405759
VNP        720
Name: Sell_Buy, dtype: int64

In [107]:
df_merge_09_V = df_merge_09.loc[df_merge_09['Sell_Buy'] != 'CNO']

In [108]:
df_merge_09_V.shape

(1073070, 13)

In [109]:
df_merge_09_V.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
25,1811311,7,IPG,C.H. IP GENERACION,VNO,84.0,2020,09,01,23,1,150.000,0.1
29,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01,9,1,0.000,0.1
30,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01,10,1,0.000,0.4
31,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01,11,1,0.000,0.7
32,2532852,28,NRENVD1,NRENO-VENTA,VNO,1.7,2020,09,01,12,1,0.000,1.0

In [110]:
df_merge_09_PALOS1 = df_merge_09_V.loc[df_merge_09_V['Bid_Unit'].str.contains('PALOS1')]

In [111]:
df_merge_09_PALOS1.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
18724,6468171,3,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,01,1,12,180.300,394.1
18725,6468171,3,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,01,2,12,180.300,394.1
18726,6468171,3,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,01,3,12,180.300,394.1
18727,6468171,3,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,01,4,1,1.130,75.0
18728,6468171,3,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,01,4,12,180.300,319.1

In [112]:
df_merge_09_PALOS1.iloc[0]

Bid_Code                                   6468171
Num_Version                                      3
Bid_Unit                                   PALOS1
Unit_Description    C.C. PALOS 1
Sell_Buy                                       VNO
Pot_max                                      394.1
Year                                          2020
Month                                           09
Day                                             01
Period                                           1
Block                                           12
Price                                      180.300
Energy                                       394.1
Name: 18724, dtype: object

In [113]:
df_merge_09_PALOS1.shape

(5970, 13)

In [114]:
df_merge_09_PALOS1_21_27 = df_merge_09_PALOS1[df_merge_09_PALOS1['Day']
                                              .isin(['21','22','23','24','25','26','27'])]

In [115]:
df_merge_09_PALOS1_21_27.shape

(1393, 13)

In [116]:
df_merge_09_PALOS1_21_27.head()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
1001267,6496963,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,21,1,12,180.300,394.1
1001268,6496963,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,21,2,12,180.300,394.1
1001269,6496963,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,21,3,12,180.300,394.1
1001270,6496963,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,21,4,1,1.130,75.0
1001271,6496963,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,21,4,12,180.300,319.1

In [117]:
df_merge_09_PALOS1_21_27.tail()

,Bid_Code,Num_Version,Bid_Unit,Unit_Description,Sell_Buy,Pot_max,Year,Month,Day,Period,Block,Price,Energy
1293773,6505575,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,27,24,8,39.610,17.0
1293774,6505575,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,27,24,9,40.850,17.0
1293775,6505575,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,27,24,10,42.090,17.0
1293776,6505575,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,27,24,11,43.840,17.0
1293777,6505575,1,PALOS1,C.C. PALOS 1,VNO,394.1,2020,09,27,24,12,180.300,34.1

In [2]:
def OMIE_merge_month(month, year):
    
    #En esta parte del código se leerán los archivos de CABECERA (CAB)
    
    #Path donde se encuentran los archivos CAB
    cab_path = '/home/dsc/Documents/TFM/Data/OMIE/CAB/cab_' + year + month + '/'
    cab_list = !ls -1 $cab_path
    
    #Se leen los archivos del mes elegido y se almacenan en cab_month como una lista de listas 
    #(num. archvos x num. lineas)
    cab_month = []
    for archive in cab_list:
        with open(cab_path + archive, errors='replace') as f:
            lines = f.readlines()
            cab_month.append(lines)
    
    #Se agregan todas las lineas en una sola lista, incluyendo día, mes y año (leidos del nombre del fichero)
    cab_total_month = []
    for day in range(len(cab_month)):
        for count in range(len(cab_month[day])):
            cab_total_month.append((cab_month[day][count][0:7] +'^'+ 
                            cab_month[day][count][7:10] +'^'+ 
                            cab_month[day][count][10:17] +'^'+ 
                            cab_month[day][count][17:47] +'^'+ 
                            cab_month[day][count][47:50] +'^'+ 
                            cab_month[day][count][132:139] +'^'+ 
                            cab_list[day][4:8] + '^' + 
                            cab_list[day][8:10] + '^' + 
                            cab_list[day][10:12]).split('^'))
            
    #Las lista de lineas se transforma en un dataframe con sus nombres correspondientes
    df_cab_month = pd.DataFrame(cab_total_month,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Bid_Unit', 
                                 'Unit_Description', 
                                 'Sell_Buy', 
                                 'Pot_max', 
                                 'Year',
                                 'Month',
                                 'Day'])
    
    #Ahora se hace un proceso similar para los archivos DETALLE (DET) 
    
    #Path donde se encuentran los archivos DET
    det_path = '/home/dsc/Documents/TFM/Data/OMIE/DET/det_' + year + month + '/'
    det_list = !ls -1 $det_path
    
    #Se leen los archivos del mes elegido y se almacenan en det_month
    det_month = []
    for archive in det_list:
        with open(det_path + archive) as f:
            lines = f.readlines()
            det_month.append(lines)  

    #Se agregan todas las lineas en una sola lista, incluyendo día, mes y año (leidos del nombre del fichero)
    det_total_month = []
    for day in range(len(det_month)):
        for count in range(len(det_month[day])):
            det_total_month.append((det_month[day][count][0:7] +'^'+ 
                            det_month[day][count][7:10] +'^'+ 
                            det_month[day][count][10:12] +'^'+ 
                            det_month[day][count][12:14] +'^'+ 
                            det_month[day][count][31:48] +'^'+ 
                            det_month[day][count][48:55] +'^'+ 
                            det_list[day][4:8] + '^' + 
                            det_list[day][8:10] + '^' + 
                            det_list[day][10:12]).split('^'))
    
    #Las lista de lineas se transforma en un dataframe con sus nombres correspondientes
    df_det_month = pd.DataFrame(det_total_month,
                        columns=['Bid_Code', 
                                 'Num_Version', 
                                 'Period', 
                                 'Block', 
                                 'Price', 
                                 'Energy', 
                                 'Year',
                                 'Month',
                                 'Day'])
    
    #Se crea un df con los dos archivos "lincados"
    df_merge_month = df_cab_month.merge(df_det_month,how = 'inner')
    
    return df_merge_month

In [3]:
#Now we will create dataframes for one year (from november 2019 to november 2020).

OMIE_112019 = OMIE_merge_month('11', '2019')

In [4]:
OMIE_112019.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_112019.csv')

In [7]:
OMIE_122019 = OMIE_merge_month('12', '2019')

In [8]:
OMIE_122019.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_122019.csv')

In [5]:
OMIE_012020 = OMIE_merge_month('01', '2020')

In [6]:
OMIE_012020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_012020.csv')

In [9]:
OMIE_022020 = OMIE_merge_month('02', '2020')

In [10]:
OMIE_022020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_022020.csv')

In [3]:
OMIE_032020 = OMIE_merge_month('03', '2020')

In [4]:
OMIE_032020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_032020.csv')

In [5]:
OMIE_042020 = OMIE_merge_month('04', '2020')

In [6]:
OMIE_042020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_042020.csv')

In [7]:
OMIE_052020 = OMIE_merge_month('05', '2020')

In [8]:
OMIE_052020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_052020.csv')

In [9]:
OMIE_062020 = OMIE_merge_month('06', '2020')

In [10]:
OMIE_062020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_062020.csv')

In [3]:
OMIE_072020 = OMIE_merge_month('07', '2020')

In [4]:
OMIE_072020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_072020.csv')

In [5]:
OMIE_082020 = OMIE_merge_month('08', '2020')

In [6]:
OMIE_082020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_082020.csv')

In [7]:
OMIE_092020 = OMIE_merge_month('09', '2020')

In [8]:
OMIE_092020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_092020.csv')

In [9]:
OMIE_102020 = OMIE_merge_month('10', '2020')

In [10]:
OMIE_102020.to_csv('/home/dsc/Documents/TFM/Data/OMIE/CAB_DET/OMIE_102020.csv')

In [11]:
OMIE_092020_PALOS1 = OMIE_092020[(OMIE_092020['Day'].isin(['21','22','23','24','25','26','27'])) 
                   & (OMIE_092020['Bid_Unit'].str.contains('PALOS1'))]

In [12]:
OMIE_092020_PALOS1.shape

(1393, 13)

In [13]:
OMIE_082020.shape

(1540027, 13)